@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&family=Ubuntu:wght@300&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    background-color:#000000;
}
section{
    background-color:  #1c1c1c;
    height:72px;
    
   
}
.header{
    padding-top: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    
}
.header:hover{
   transition: all 0s ease 0s;
}
section .header .logo p{
    margin-top: 8px;
}
section .header .logo p a{
    font-family:'Ubuntu';
    font-family: 'Kanit';
    text-decoration: none;
    font-size: 35px;
    line-height: 28px;
    font-weight: 300;
    text-transform: capitalize;
    color:#ffffff;
    cursor: pointer;
}
section .header .search {
    margin: auto;
    margin-top: 16px;
    border-radius:5px;
    border-width:5px;
    border-collapse: collapse;

}
section .header .search form input{
    width: 400px;
    text-decoration: none;
    font-size: 20px;
    border-style:2px solid black ;
    border-radius: 20px;
    background-color: #575757;
    text-transform: capitalize;
    color: whitesmoke;

}
section .header .search form input[type="text"]{
    font-family: 'roboto','san-serif';     
}
section .header .search form button{
    float:left;
  
    /*margin:0 16px 0 0;*/
    font-size: 20px;
    color: #ffffff;
    border-style:2px solid black ;
    background-color: #1c1c1c;
    border-radius: 5px;
    cursor: pointer;
}
.container hr{
    margin:70px 0px 0px;
    border-color: #636363;
}
.container1 .navbar{
    height: 50px;
    padding-left: 2rem;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #000000;
    padding: 16px 0 16px 96px;
    text-decoration: none solid rgb(0,0,0);
}
.container1 .navbar ul{
   display:flex;
   justify-content: space-between;
   float: left;
   text-decoration: none;
   text-transform: capitalize;
   padding-top: 0.75rem;
   padding-bottom: 0.75rem;
   cursor: pointer;
   overflow: auto;
   box-sizing: border-box;
   gap: 2rem;
}
.container1 .navbar ul li a{
   display: flex;
   font-family: 'roboto',sans-serif;
   font-size: 16px;
   font-weight: 400;
   color:#A3A7AE;
   word-spacing:none;
   text-decoration: none solid rgb(163,167,174)
}
.new-releases{
    background-color: #000000;
    padding:20px 40px;
}
.new-releases h1{
    margin-left: 115px;
    font-family: 'roboto',sans-serif;
    color:#ffffff;
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.new-releases .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}
.new-releases .list .item{
    min-width: 140px;
    width: 160px;
    padding:15px;
    background-color: #000000;
    border-radius: 0.75rem;
    cursor: pointer;
    transition:all ease 0.4s;
}
.new-releases .list .item:hover{
    background-color: #000000;
}
.new-releases .list .item img{
    height:197.2px;
    width: 197.2px;
    border-radius: 0.75rem;

}
.new-releases .list .item .play{
    position:relative;
}
.new-releases .list .item .play .fa{
    font-size: 20px;
    position: absolute;
    right: 50px;
    top: -110px;
    padding:18px;
    opacity:0;
    background-color:white;
    color: red;
    border-radius: 100%;
    transition: all ease 0.4s;
    cursor: pointer;
}
.new-releases .list .item .play .fa:hover{
    opacity: 1;
    transform: translateY(-20px);
}
.new-releases .list .item h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: capitalize;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.new-releases hr{
    margin :70px 0px 0px;
    border-color: #636363;
}

.footer{
    background-color: #000000;
    padding:20px 40px;
    color:#ffffff;
    font-family: ubuntu;

}
.footer .cont1 ul{
    display:flex;
    gap:20px;
    overflow: hidden;
}
.footer .cont1 ul li{
    height:172px;
    width: 307.8px;
    list-style: none;
    text-decoration: none;
}
.footer .cont1 ul li h4{
    padding-bottom: 20px;
    cursor:default;
}
.footer .cont1 ul li p{
    font-size: 12px;
    cursor: pointer;
}
.footer .cont2{
    margin-top: 30px;
}

.footer .cont2 ul{
    display:flex;
    gap:20px;
    overflow: hidden;
}
.footer .cont2 ul li{
    height:172px;
    width: 307.8px;
    list-style: none;
    text-decoration: none;
}
.footer hr{
    margin:70px 0px 0px;
    border-color: #636363;
}

.footer1{
    background-color:#000000;
    height: 73.6px;
    width: 1327.2px;
    border-top: 1px solid #374151;
    border-right:0px solid #374151 ;
    border-bottom:1px solid #374151 ;
    border-left: 0px solid #374151;
    margin:0 96px 0 96px;
    padding:16px 16px 16px 16px;
    color:#ffffff;
    font-family: ubuntu;
}
.footer1 .cont2{
    display:flex;
    justify-content: space-between;
    margin-left: 50px;
}
.footer1 .cont2 ul{
    display:flex;
}
.footer1 .cont2 ul li{
    list-style: none;
}
.footer1 .cont2 ul li a{
    padding:10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.footer1 .cont2 .social-btns{
    margin-left: 50px;
    float:right;
}
.footer1 .cont2 .social-btns ul{
    display: flex;
    gap:10px;
}
.footer1 .cont2 .social-btns ul li{
    list-style: none;
}
.footer1 .cont2 .social-btns ul li a{
    float:right;
    padding:10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.footer1 .cont3 ul{
    display:flex;
    gap: 60px;
}
.footer1 .cont3 ul li{
    list-style: none;
    font-size: 12px;
}

